.todo-container {
	position: relative;
	margin-top: 1rem;
	width: 100%;
	height: auto;
}

.item-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-shrink: 1;
	width: 100%;
	height: auto;
	min-height: 50px;
  color: grey;
	border: 1px solid grey;
	padding: 0 0 0 1rem;
	box-sizing: border-box;	
}

.icon-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.checkbox {
	margin-right: 0.3rem;
	cursor: pointer;
}

.trash-can {
	cursor: pointer;
}

.update {
	position: relative;
	display: inline-block;
	margin: 0;
  font-size: .8rem;
	top: 14px;
	color: gray;
	cursor: pointer;
	z-index: 1;
}

.undo {
  position: relative;
	margin-right: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  top: -1px;
	color: rgba(0, 0, 0, .8);
	cursor: pointer;
	z-index: 1;
}
