.header-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  color: grey;
  padding-left: 1rem;
  width: calc(100% - 2rem);
	max-width: 525px;
  min-width: 280px;
}

.header {
  font-size: 1.25rem;
  margin: 0;
}

.line {
  background-color: grey;
  height: 1px;
  margin: 0;
  width: 65%;
  margin-left: .2rem;
  margin-top: .5rem;
  opacity: .2;
}

.pencil-icon {
  position: relative;
  margin: 0 0 9px 2px;
  font-size: 1.25rem;
}

