.todos-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 518px;
  min-width: 280px; 
  height: auto;
  margin: 0 auto;
}
