.todos-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2rem);
  max-width: 500px;
  min-width: 280px;
  height: auto;
  margin: 0 auto;
}
